<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S3 Folders</title>
    <style>
        ul {
            list-style: none;
            padding-left: 20px;
        }
        ul ul {
            padding-left: 20px;
        }
        li {
            margin-bottom: 5px;
        }
        a {
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>S3 Folders</h1>
    <ul>
        {% for folder in folders %}
            <li>
                <a href="{{ folder['Prefix'] }}">{{ folder['Prefix'] }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>